*{
    box-sizing: border-box;
}

nav{
    background-color: #ddd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    text-decoration: none;

  }
  
.hed{
    font-size: 150%;
    padding-top: 30;

}
.lor  {
    font-size: large;


}

div.write{
    margin: 50px;
padding-top:50px;
margin-left: 50%;
padding-bottom: 25%;
text-align:center;

}
div.div1 {
border-radius: 10px;
    background-color: #ddd;
    width: 100%;
    height: 70px;

}
